{
  "operation_id": {{ operation_id | tojson }},
  "status": "ok",
  "summary": "Scaffolding detail with revision-pinned template manifests.",
  "data": {
    "id": {{ data.id | tojson }},
    "language_id": {{ data.language_id | tojson }},
    "name": {{ data.name | tojson }},
    "description": {{ data.description | tojson }},
    "language": {{ data.spec.language | tojson }},
    "variables": {{ data.spec.variables | tojson }},
    "templates_revision": {{ data.templates_revision | tojson }},
    "template_count": {{ data.template_count | tojson }}
  },
  "follow_ups": {{ follow_ups | tojson }}
}
