# Rendered file `{{ properties.path }}`

Revision `{{ properties.revision }}`, characters {{ properties.offset }}–{{ properties.next_offset }} of {{ properties.total_characters }}.

```text
{{ properties.content }}
```
{% if properties.has_more %}Continue with `read_scaffolding_rendered_file` at offset {{ properties.next_offset }} using the same rendering parameters.{% endif %}
